In [6]:
import pandas as pd

In [22]:
data = pd.read_csv('data/health_Sleep.csv', index_col='Person ID')
data["Sleep Disorder"] = data["Sleep Disorder"].fillna("None")
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
Person ID,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

#### ¿Quien tiene la peor calidad de sueño las mujeres o los hombres?

In [23]:
# Print the data type of each column
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 374 entries, 1 to 374
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   374 non-null    object
 1   Age                      374 non-null    int64
 2   Occupation               374 non-null    object
 3   Sleep Duration           374 non-null    float64
 4   Quality of Sleep         374 non-null    int64
 5   Physical Activity Level  374 non-null    int64
 6   Stress Level             374 non-null    int64
 7   BMI Category             374 non-null    object
 8   Blood Pressure           374 non-null    object
 9   Heart Rate               374 non-null    int64
 10  Daily Steps              374 non-null    int64
 11  Sleep Disorder           374 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 38.0+ KB

In [24]:
# Print the summary statistics of the data
data.describe()

,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

#### Analisis de generos

In [25]:
data["Gender"].value_counts()

Gender
Male      189
Female    185
Name: count, dtype: int64

In [26]:
data.loc[data["Age"] <= 40, "Age_group"] = "ADULT"
data.loc[data["Age"] >= 41, "Age_group"] = "OLDER ADULT"

In [27]:
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Age_group
Person ID,,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,None,ADULT
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None,ADULT
3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,None,ADULT
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,ADULT
5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,ADULT

In [32]:
data.tail()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Age_group
Person ID,,,,,,,,,,,,,
370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,OLDER ADULT
371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,OLDER ADULT
372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,OLDER ADULT
373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,OLDER ADULT
374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,OLDER ADULT

In [33]:
data["Age_group"].value_counts()

Age_group
OLDER ADULT    209
ADULT          165
Name: count, dtype: int64

In [39]:
data.groupby("Gender")["Age"].agg(["mean", "std"])

             mean       std
Gender
Female  47.405405  8.093407
Male    37.074074  5.662006

#### Analisis de las ocupaciones

In [41]:
data.groupby("Occupation")["Gender"].value_counts()

Occupation            Gender
Accountant            Female    36
                      Male       1
Doctor                Male      69
                      Female     2
Engineer              Female    32
                      Male      31
Lawyer                Male      45
                      Female     2
Manager               Female     1
Nurse                 Female    73
Sales Representative  Male       2
Salesperson           Male      32
Scientist             Female     4
Software Engineer     Male       4
Teacher               Female    35
                      Male       5
Name: count, dtype: int64

In [44]:
data.groupby("Gender")[["Sleep Duration", "Quality of Sleep"]].mean()

        Sleep Duration  Quality of Sleep
Gender
Female        7.229730          7.664865
Male          7.036508          6.968254

In [51]:
occu_qua = data.groupby("Occupation")[["Sleep Duration", "Quality of Sleep"]].mean()
occu_qua.sort_values(by="Quality of Sleep", ascending=False)

                      Sleep Duration  Quality of Sleep
Occupation
Engineer                    7.987302          8.412698
Lawyer                      7.410638          7.893617
Accountant                  7.113514          7.891892
Nurse                       7.063014          7.369863
Manager                     6.900000          7.000000
Teacher                     6.690000          6.975000
Doctor                      6.970423          6.647887
Software Engineer           6.750000          6.500000
Salesperson                 6.403125          6.000000
Scientist                   6.000000          5.000000
Sales Representative        5.900000          4.000000

In [56]:
# indice de masa corporal por ocupaciones
occu_bmi = data.groupby("Occupation")["BMI Category"].value_counts()
occu_bmi.sort_values()

Occupation            BMI Category
Lawyer                Normal Weight     1
Manager               Overweight        1
Software Engineer     Obese             1
                      Overweight        1
Teacher               Obese             1
Lawyer                Obese             2
Doctor                Normal Weight     2
Lawyer                Overweight        2
Sales Representative  Obese             2
Software Engineer     Normal Weight     2
Engineer              Overweight        3
Scientist             Overweight        4
Engineer              Normal Weight     4
Doctor                Obese             4
Accountant            Normal Weight     5
                      Overweight        6
Teacher               Normal            6
Nurse                 Normal Weight     7
Accountant            Normal           26
Salesperson           Overweight       32
Teacher               Overweight       33
Lawyer                Normal           42
Engineer              Normal           56
Doctor                Normal           65
Nurse                 Overweight       66
Name: count, dtype: int64

In [66]:
occu_steps = data.groupby("Occupation")[["Daily Steps", "Physical Activity Level", "Sleep Duration", "Quality of Sleep"]].mean()
occu_steps.sort_values("Daily Steps").head()

,Daily Steps,Physical Activity Level,Sleep Duration,Quality of Sleep
Occupation,,,,
Sales Representative,3000.0,30.000,5.90,4.000
Scientist,5350.0,41.000,6.00,5.000
Manager,5500.0,55.000,6.90,7.000
Software Engineer,5800.0,48.000,6.75,6.500
Teacher,5957.5,45.625,6.69,6.975

In [71]:
from nbconvert import HTMLExporter, PDFExporter
from nbconvert.writers import FilesWriter
import nbformat

# Load the notebook
with open('main.ipynb') as f:
    notebook = nbformat.read(f, as_version=4)

# Convert the notebook to HTML
html_exporter = HTMLExporter()
html_body, _ = html_exporter.from_notebook_node(notebook)

# Save the HTML report
with open('index.html', 'w') as f:
    f.write(html_body)